# dependencies
node_modules/

# testing
coverage/

# next.js
.next/
out/

# production
build/
dist/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.production

# vercel
.vercel

#vscode/
.vscode/

tmp/
temp/

# ormconfig. I decided to avoid using ormconfig.json files in favor of env variables. I use ormconfig.json only to run typeorm from cli
ormconfig.json